*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background: rgb(121, 121, 198);
}

.container{
    width:500px;
    margin:30px auto;
    background: rgba(255, 255, 255, 0.499);
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    border:1px solid #999;
    border-radius:5px;
}

.radio-group,
.checkbox-group{
    margin-top:8px;
}

.radio-group input,
.checkbox-group input{
    width:auto;
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    border:none;
    background:rgba(0, 140, 255, 0.968);
    color:white;
    font-size:16px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:blue;
}

.error{
    color:red;
    font-size:14px;
}


.fail{
    border:2px solid red;
}
